<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=1c1fd3322a658a9a2fa80d562830e60c"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
    html, body, #container {
        width: 100%;
        height: 100%;
        margin:0;
    }
</style>
<body>
    <div id="container"></div>


    <script>
        let myMap = new Map();

        $(document).ready(function () {
            var socket;

            socket = new WebSocket("ws://localhost:10001/websocket/"+(Math.random()*10000000).toString(16).substr(0,4)+'-'+(new Date()).getTime()+'-'+Math.random().toString().substr(2,5));
            //打开事件
            socket.onopen = function() {
                console.log("Socket 已打开");
            };
            //关闭事件
            socket.onclose = function() {
                console.log("Socket已关闭");
            };
            //发生了错误事件
            socket.onerror = function() {
                console.log("发生了错误");
            }

            //获得消息事件
            socket.onmessage = function(msg) {
                const message = msg.data;
                console.log("这是接收到的信息："+message);
                const data = message.split(":")
                if (data[1] == "offline") {
                    console.log("盒子关机，一段任务完成，删除地图展示！")
                    myMap.delete(data[0]);
                //     关机了
                } else {
                    const id = data[0];
                    const point = data[1];
                    myMap.set(id,point);
                }

            };
        });

        var map = new AMap.Map('container',{
            zoom:11,//级别
            center: [108.314614,22.827239],//中心点坐标
            viewMode:'3D'//使用3D视图
        });
        AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],function(){
            map.addControl(new AMap.ToolBar());
            map.addControl(new AMap.Scale());
            map.addControl(new AMap.OverView({isOpen:true}));
        });

        setInterval("sign()",3000);

        var list = [];
        function sign() {
            map.remove(list);
            for (var j=0;j<list.length;j++){
                list.pop();
            }
            let mapIter = myMap.values();
            for (var i = 0,circleMarker;i<myMap.size;i++) {
                var data = mapIter.next().value;
                // console.log("data="+data);
                // console.log("data1="+data.split(",")[1]);
                // console.log("data2="+data.split(",")[0]);
                var a = [];
                a[0] = data.split(" ")[1];//108.314614;
                a[1] = data.split(" ")[0];//22.827239;

                circleMarker = new AMap.CircleMarker({
                    center:a,//mapIter.next().value,
                    radius:8,// 圆半径
                    strokeColor:'white',
                    strokeWeight:2,
                    strokeOpacity:0.5,
                    fillColor:'rgba(0,0,255,1)',
                    fillOpacity:0.5,
                    zIndex:10,
                    bubble:true,
                    cursor:'pointer',
                    clickable: true
                })
                circleMarker.setMap(map)
                list.push(circleMarker);
            }
        }
    </script>
</body>

</html>